.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.photos article {
    width: 300px;
    margin: 10pt;
    padding: 5pt;
}
.photos article a {
    text-decoration: none;
    display: block;
}
.photos article a h2 {
    text-align: center;
}
.photos article a img {
    display: block;
    width: 100%;
    object-fit: contain;
}
.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10pt;
}
.photo img {
    display: block;
    width: 80%;
    max-width: 600px;
    object-fit: contain;
}
form.inline {
    text-align: right;
}
