h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 42pt;
    text-align: center;
}
article {
    width: calc(100% - 30pt);
    margin: 0pt 15pt 25pt ;
    border-radius: 8pt;
    box-shadow: 3pt 3pt 10pt 0pt salmon;
    display: flex;
    flex-direction: column;
}
article h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36pt;
    text-align: center;
}
article img {
    display: block;
    width: 100%;
    height: 400px;
    object-position: center;
    object-fit: contain;
}
article p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24pt;
    margin-top: auto;
    padding: 12pt 14pt 6pt 14pt;
}
article div {
    color: white;
    background-color: salmon;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28pt;
    font-weight: bold;
    text-align: right;
    padding: 6pt 14pt;
    border-bottom-left-radius: 8pt;
    border-bottom-right-radius: 8pt;
}
